body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: aqua;
}
.same{
    position: relative;
    background-color: white;
    margin: 0px 5px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.306);
    width: 200px;
    height: 100px;
    border: 1px solid white;
}
.counter{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 30%;
    font-size: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.text{
    position: absolute;
    bottom: 9%;
    left: 50%;
    font-size: 18px;
    transform: translateX(-50%);
    white-space: nowrap;
}
.fa-solid{
    position:absolute;
    top: -20%;
    left: 50%;
    transform: translateX(-50%);
    color: rgba(0, 0, 0, 0.773);
}
